<ion-view>

  <ion-nav-title>Products</ion-nav-title>

  <ion-content>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search for Booze!!!">
        </label>
        <button class="button button-small button-positive" ng-click="productsCtrl.search()">
          Search
        </button>
      </div>

    </div>
    <div class="list">



      <a class="item item-thumbnail-left" ng-repeat="product in productsCtrl.products" ui-sref="product({ id: product.id })">
        <img ng-src="{{ product.image_thumb_url }}">
        <h2>{{ product.name }}</h2>
        <p>{{ product.producer_name }}</p>
      </a>

    </div>

  </ion-content>
</ion-view>
